.cart-area {
    text-align: center;
    background-color: #f9f9f97a;
    padding: 15px 0;
}

.single-programmer {
    margin: 15px;
    background-color: dodgerblue;
    color: #fff;
    text-align: center;
    width: 70%;
    padding: 8px 0;
    margin-left: auto;
    margin-right: auto;
}

.single-programmer img {
    width: 100px;
    border-radius: 50%;
}

.single-programmer h3 {
    color: #fff;
}