.main-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 30px;
}

.programmer-container h2 {
    text-align: center;
}

.programmers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
