.programmer {
    margin: 15px;
    border-radius: 8px;
    text-align: center;
    background-color: dodgerblue;
    color: #fff;
    padding-bottom: 20px;
}

.programmer img {
    width: 100%;
}

.programmer h3 {
    color: #fff;
}

.programmer p {
    line-height: 1.25;
    margin: 5px;
}

.programmer a {
    color: #fff;
    font-weight: 700;
}

button {
    margin-top: 12px;
    border: 1px solid #efefef;
    padding: 8px 12px;
    cursor: pointer;
}